red-server/flows/hackiot.json
[{"type":"tab","id":"2a26fbfb.d5d904","label":"Kettl"},{"id":"1e35cf6a.e1ca31","type":"http in","name":"","url":"/status","method":"get","x":114,"y":75,"z":"2a26fbfb.d5d904","wires":[["b9b11afc.464ee8"]]},{"id":"a757b69c.58a848","type":"http response","name":"","x":416,"y":76,"z":"2a26fbfb.d5d904","wires":[]},{"id":"b9b11afc.464ee8","type":"function","name":"","func":"msg.payload = {\n\ttemp: context.global.temperature || 25,\n\theating: context.global.heating || false\n};\nreturn msg;","outputs":1,"x":276,"y":75,"z":"2a26fbfb.d5d904","wires":[["a757b69c.58a848"]]},{"id":"5e17385f.a1e8c8","type":"http in","name":"","url":"/heat","method":"post","x":109,"y":124,"z":"2a26fbfb.d5d904","wires":[["eaf89e30.15076"]]},{"id":"eaf89e30.15076","type":"function","name":"","func":"context.global.heating = true;\ncontext.global.targettemp = msg.payload.temp || 100.0;\nmsg.payload = {};\nreturn msg;","outputs":1,"x":302,"y":123,"z":"2a26fbfb.d5d904","wires":[["e072017c.1f8e","d597fbce.2a6808"]]},{"id":"e072017c.1f8e","type":"debug","name":"","active":true,"console":"false","complete":"false","x":616,"y":219,"z":"2a26fbfb.d5d904","wires":[]},{"id":"387fc7ae.c78038","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":108,"y":425,"z":"2a26fbfb.d5d904","wires":[["3d8b2c85.c274d4"]]},{"id":"3d8b2c85.c274d4","type":"function","name":"","func":"if (!context.global.temperature)\n\tcontext.global.temperature = 25;\n\nif (context.global.heating) {\n\tcontext.global.temperature += 5.0 - (context.global.temperature - 25) / 50.0;\n}\nelse {\n\tcontext.global.temperature -= (context.global.temperature - 25) / 50.0;\n}\n\nif (context.global.temperature > context.global.targettemp){\n\tcontext.global.heating = false;\n}\nmsg.payload = context.global;\n\nreturn msg;","outputs":1,"x":284,"y":425,"z":"2a26fbfb.d5d904","wires":[[]]},{"id":"83458331.7cba8","type":"http in","name":"","url":"/reset","method":"get","x":112,"y":195,"z":"2a26fbfb.d5d904","wires":[["56947836.a96b88"]]},{"id":"56947836.a96b88","type":"function","name":"","func":"context.global.heating = false;\ncontext.global.temperature = 25.0;\nmsg.payload = context.global;\nreturn msg;","outputs":1,"x":303,"y":195,"z":"2a26fbfb.d5d904","wires":[["e072017c.1f8e","d597fbce.2a6808"]]},{"id":"d597fbce.2a6808","type":"http response","name":"","x":613,"y":159,"z":"2a26fbfb.d5d904","wires":[]},{"id":"4a06b379.b5f94c","type":"http in","name":"","url":"/stop","method":"post","x":113,"y":158,"z":"2a26fbfb.d5d904","wires":[["ad573aac.52a8c8"]]},{"id":"ad573aac.52a8c8","type":"function","name":"","func":"context.global.heating = false;\nmsg.payload = {};\nreturn msg;","outputs":1,"x":305,"y":159,"z":"2a26fbfb.d5d904","wires":[["d597fbce.2a6808","e072017c.1f8e"]]}]